format="""
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$golang\
$nodejs\
$python\
$rust\
$direnv\
$env_var\
$crystal\
$custom\
$sudo\
$cmd_duration\
$line_break\
$character
"""
# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10

# Disable the blank line at the start of the prompt
add_newline = false

# Set 'foo' as custom color palette
palette = 'foo'

# Define custom colors
[palettes.foo]
# Overwrite existing color
blue = '21'
# Define new color
mustard = '#af8700'

right_format = """$time"""

[hostname]
format = '[\($hostname\)]($style) '

[git_branch]
format='[$symbol$branch(:$remote_branch)]($style) '

[time]
disabled=false

[directory]
truncate_to_repo=false
truncation_length=4
use_logical_path=false

[python]
format='[\[${pyenv_prefix}$virtualenv\]]($style) '